@font-face {
    font-family: 'myFont';
    src: url('./font/Pony.ttf');
}

.game {
    background-image: url('./assets/bgGame.png');
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: 'myFont';
}

.btnGame {
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: blueviolet;
    border: 2px solid green;
}